# VS Code
.devcontainer
.vscode
.clangd
compile_commands.json

# ESP-IDF specific build outputs
build
sdkconfig.old
sdkconfig
components/.idf/
managed_components/

# Project Specific
components/otlp_nanopb/opentelemetry 
main/config.h